body {
    text-align: center;
    background-color: #EFB9CB;
    font-family: 'Permanent Marker', cursive;
}

/* Navbar */
.nav-link {
    font-weight: lighter;

}

.nav-link:hover {
    font-weight: bolder;
    background-color: pastel yellow;
}

nav {
    background-color: #00004d;
    color:#d9d9d9;   
    text-decoration:none;
}

nav a{
    color:#d9d9d9;
}

/* End Navbar */
/*Header*/
.header {
    height: 900px;
    width: 100%;
    background-image: url("4.jpg");
    background-size: cover;
    text-align: center;
    

}

.header h1 {
    font-size: 80px;
    color:#d9d9d9;
      text-shadow: 2px 2px #ff0000;
}

/* End Header */
/* About Us */

.aboutus {
    text-align: center;
    font-size: 30px;

}

/* End About Us */
/* Team */
.team img {
    width: 200px;
    height:200px;
    border-radius: 20%;
    object-fit: cover;
    text-align: center;
}

/* End About Us */
/* Footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/* End Footer */